{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans composer.last_name %}{% endblock %}

{% block body %}
    <div class="row">
	    <div class="span">
	       <img src="{{MEDIA_URL}}{{ composer.picture }}" alt="composer face" height="100" width="100" />
	    </div>
	    <div class="span">
		  <h1>{{ composer.last_name }}, {{ composer.first_name }}</h1>
		</div>
	</div>
	<div class="well">
		<ul>
		{% for composition in composer.composition_set.all %}
		    <li><a href="/music/compositions/{{ composition.id }}/">{{ composition.title }}</a></li>
		{% endfor %}
		</ul>
	</div>

{% endblock %}
