{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "My Repertoire" %}{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
    <div class="row">
    <div class="span16">
        <h2>{% trans "My Repertoire" %}</h2>
        <hr>
        <p>
			<ul class="tabs" data-tabs="tabs">
			  <li class="active"><a href="#reserved">{% trans "Reserved" %}</a></li>
			  <li class=""><a href="#practicing">{% trans "Practicing" %}</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="reserved">
			    {% if repertoire_reserved_list %}
	            <div class="row">
	            {% for repertoire in repertoire_reserved_list %}
	                <div class="span2">
	                <a href="/music/compositions/{{ repertoire.piece.id }}/">
	                   <img src="{{MEDIA_URL}}{{ repertoire.piece.composer.picture }}" alt="repertoire.piece.composer face" height="100" width="100" />
	                </a>
	                </div>
	                <div class="span3">
	                <p><a href="/music/composers/{{ repertoire.piece.composer.id }}/">{{ repertoire.piece.composer.last_name }}</a></p>
	                <p><a href="/music/compositions/{{ repertoire.piece.id }}/">{{ repertoire.piece.title }}</a></p>
	                <p>{{ repertoire.piece.category }}</p>
	                </div>
	            {% endfor %}
	            </div>
	            {% endif %}
			  </div>
			  <div class="tab-pane" id="practicing">
			    {% if repertoire_practicing_list %}
                <div class="row">
	            {% for repertoire in repertoire_practicing_list %}
	                <div class="span2">
                    <a href="/music/compositions/{{ repertoire.piece.id }}/">
                       <img src="{{MEDIA_URL}}{{ repertoire.piece.composer.picture }}" alt="repertoire.piece.composer face" height="100" width="100" />
                    </a>
                    </div>
                    <div class="span3">
                    <p><a href="/music/composers/{{ repertoire.piece.composer.id }}/">{{ repertoire.piece.composer.last_name }}</a></p>
                    <p><a href="/music/compositions/{{ repertoire.piece.id }}/">{{ repertoire.piece.title }}</a></p>
                    <p>{{ repertoire.piece.category }}</p>
                    </div>
	            {% endfor %}
                </div>
	            {% endif %}
			  </div>
			</div>
		</p>
		</div>
		</div>
		
        <div class="row">
	        <div class="span16">
		        <a href="{% url videos %}"><h2>{% trans "My Videos" %}</h2></a>
		        <hr>
		        <ul class="tabs" data-tabs="tabs">
		          <li class="active"><a href="#original">{% trans "Original" %}</a></li>
		          <li class=""><a href="#favorite">{% trans "Favorite" %}</a></li>
		        </ul>
		        <div class="tab-content">
		          <div class="tab-pane active" id="original">
		            {% if ori_video_list %}
		            <div class="row">
		            {% for video in ori_video_list %}
		              <div class="span">
		                 <!-- <iframe width="210" height="150" src="{{video.embeded}}" 
		                     frameborder="0" allowfullscreen></iframe> -->
		                 {{video.normalizeEmbeded|safe}}
		              </div>
		            {% endfor %}
		            </div>
		            {% endif %}
		          </div>
		          <div class="tab-pane" id="favorite">
		            {% if fav_video_list %}
		            <div class="row">
		            {% for video in fav_video_list %}
		              <div class="span">
		                 <!-- <iframe width="210" height="150" src="{{video.embeded}}" 
		                     frameborder="0" allowfullscreen></iframe> -->
		                 {{video.normalizeEmbeded|safe}}
		              </div>
		            {% endfor %}
		            </div>
		            {% endif %}
		          </div>
		        </div> <!-- End of tabpane -->
	        </div>
        </div>

        <div class="row">
	        <div class="span16">
	            <a href="{% url events %}"><h2>{% trans "My Events" %}</h2></a>
	            <hr>
	            <ul class="tabs" data-tabs="tabs">
		          <li class="active"><a href="#upcoming">{% trans "Upcoming" %}</a></li>
		          <li class=""><a href="#past">{% trans "Past" %}</a></li>
		        </ul>
		        <div class="tab-content">
		          <div class="tab-pane active" id="upcoming">
		            {% if upcoming_event_list %}
		            <div class="row">
		                {% for event in upcoming_event_list %}
		                    <div class="span4">
		                       <a href="/music/events/{{event.id}}/"><h3>{{event.title}}</h3></a>
		                       <p>{{event.time}}</p>
		                       <p>{{event.location}}</p>
		                    </div>
		                {% endfor %}
		            </div>
		            {% endif %}
		          </div>
		          <div class="tab-pane" id="past">
		            {% if past_event_list %}
		            <div class="row">
		                {% for event in past_event_list %}
		                    <div class="span4">
		                       <a href="/music/events/{{event.id}}/"><h3>{{event.title}}</h3></a>
		                       <p>{{event.time}}</p>
		                       <p>{{event.location}}</p>
		                    </div>
		                {% endfor %}
		            </div>
		            {% endif %}
		          </div>
		        </div> <!-- End of TabContent -->
	        </div>
        </div>

    {% else %}
        {% url acct_login as login_url %}
        <p class="what_next">
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                {% url acct_signup as signup_url %}
                {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
            {% else %}
                {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
            {% endifsetting %}
        </p>
    {% endif %}
{% endblock %}
