{% extends "theme_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/mysite.css" rel="stylesheet" type="text/css"/>

    <!-- <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/jScrollPane.css" rel="stylesheet" type="text/css" media="all" />
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.em.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jScrollPane.js"></script>
    <script>
	  $(document).ready(function() {
		  $('.scroll-pane').jScrollPane();
	  });
    </script> -->

{% endblock %}

{% block nav %}
        <ul>{% spaceless %}
            <li id="tab_composers"><a href="{% url composers %}">{% trans "Composers" %}</a></li>
            <li id="tab_activities"><a href="#">{% trans "Activities" %}</a></li>
    {% if user.is_authenticated %}
        	<li id="tab_repertoire"><a href="{% url repertoire %}">{% trans "Repertoire" %}</a></li>
    {% endif %}
            {% endspaceless %}</ul>
{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        <div class="sidebar">

		{% block sidebar %}
		   <div class="well">
		     <h5>Browse Music by</h5>
		     <ul>
		       <li><a href="{% url composers %}">{% trans "Composer" %}</a></li>
		       <li><a href="{% url composers %}">{% trans "Genre" %}</a></li>
		       <li><a href="{% url composers %}">{% trans "Instrument" %}</a></li>
		    </ul>
		       {% if user.is_authenticated %}
		    <h5>{% trans "Go to My" %}</h5>
		    <ul>
		       <li><a href="{% url repertoire %}">{% trans "Repertoire" %}</a></li>
		       <li><a href="{% url events %}">{% trans "Events" %}</a></li>
		       <li><a href="{% url videos %}">{% trans "Videos" %}</a></li>
		    </ul>
		       {% endif %}
		   </div>
		{% endblock %}

        </div>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
        
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
